doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")

		//- Latest compiled and minified CSS 
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")

		//- Optional theme
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")

		//- Custom JavaScript
		script(src="javascripts/main.js")

		//- Selectize
		script(type="text/javascript" src="javascripts/selectize.js")
		link(rel="stylesheet" type="text/css" href="stylesheets/selectize.bootstrap3.css")

		//- Latest compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

		// Google fonts
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,600', rel='stylesheet', type='text/css')

		title Wikipedes of Separation

	body
		block content