body {
	padding-bottom: 70px;
	font-family: Raleway !important;
	background: #89D1FF !important;
}

/* NAV BAR */
.navbar {
	text-align: center;
}
.navbar-default.custom,
.navbar.navbar-default.navbar-fixed-bottom {
  background-color: #0D2737;
  border-color: #0D2737;
  background-image: none;
  color: white;
}
.navbar .container-fluid {
	display: inline-block;
}
.navbar-fixed-bottom {
	text-align: center;
}

/* MIDDLE */
.entry_form {
	margin-top: 200px;
	text-align: center;
	width: 50% !important;
}

.name_label {
	margin-top: 4.5px;
}

.path_links img {
	height: 50px;
	margin: -5px 0px 10px 0px;
}
.panel {
	margin-bottom: 10px !important;
}
.panel .how_link {
	position: relative;
	float: right;
	cursor: pointer;
	font-size: 12px;
	top: 2px;
}
.panel-body {
  padding: 5px !important;
}